@page "/user-page"

<h1>Hello, Blazor REPL!</h1>

<h2 style="font-size: 1.5rem">How to start?</h2>
<p> Run the code on the left by clicking "RUN" button or pressing Ctrl + S.</p>

<h2 style="font-size: 1.5rem">Share your snippets!</h2>
<p>Share your snippet easily by following the steps:</p>
<ul>
    <li>Click "SAVE" button</li>
    <li>Confirm that you agree with the requests</li>
    <li>Copy the URL of the snippet and paste it wherever you need</li>
</ul>

<h2 style="font-size: 1.5rem">What are the editor's features?</h2>
<p>We are using Microsoft's <a target="_blank" href="https://microsoft.github.io/monaco-editor/">Monaco Editor</a>. It is the code editor that powers VS Code. You can access its Command Palette by focusing on the editor and clicking F1 button on your keyboard. You will see the list of all available commands. You can use the commands' shortcuts too.</p>
<p>Some of the most commonly used commands are:</p>
<ul>
    <li>Ctrl+K Ctrl+C comments out the current line</li>
    <li>Ctrl+Shift+K deletes a line</li>
    <li>Command Palette -> Editor Font Zoom In makes the font in the Editor larger </li>
</ul>
<p>If you want to dig a little deeper into Monaco Editor's features, you can do so <a target="_blank" href="https://code.visualstudio.com/docs/editor/editingevolved">here</a>.</p>

<h2>Enjoy creating!</h2>
