@page "/user-page"

<h1>Welcome to Blazor REPL!</h1>

<h3>How to start?</h3>
<p>Run the code on the left by clicking the "RUN" button or pressing Ctrl+S.</p>

<h3>Install NuGet packages</h3>
<ul>
    <li>Click the NuGet icon on the left sidebar</li>
    <li>Search for and choose the package of your choice</li>
    <li>Select a version and click the install button</li>
</ul>

<h3>Add static asset URLs</h3>
<ul>
    <li>Click the documents icon on the left sidebar</li>
    <li>Put the link of the JS or CSS file</li>
    <li>Click the add button</li>
</ul>

<h3>Share your snippets</h3>
<ul>
    <li>Click the "SAVE" button</li>
    <li>Confirm that you agree with the terms</li>
    <li>Copy the URL of the snippet and paste it wherever you need</li>
</ul>
<small>* All installed NuGet packages and static assets will be included in your snippet.</small>
<br />
<br />

<h3>What are the editor's features?</h3>
<p>We are using Microsoft's <a target="_blank" href="https://microsoft.github.io/monaco-editor/">Monaco Editor</a>. It is the code editor that powers VS Code. You can access its Command Palette by focusing on the editor and clicking F1 button on your keyboard. You will see the list of all available commands. You can use the commands' shortcuts too.</p>
<p>Some of the most commonly used commands are:</p>
<ul>
    <li>Ctrl+K Ctrl+C comments out the current line</li>
    <li>Ctrl+Shift+K deletes a line</li>
    <li>Command Palette -> Editor Font Zoom In/Out changes the font size</li>
</ul>
<p>If you want to dig a little deeper into Monaco Editor's features, you can do so <a target="_blank" href="https://code.visualstudio.com/docs/editor/editingevolved">here</a>.</p>

<h3>Enjoy creating!</h3>
