<div id="tab-settings-popup"
     class="toast @VisibleClass"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     style="@DisplayStyle">

    <ul class="tab-settings-list list-unstyled m-0">
        <li @onclick="@ScaffoldStartupClass">Scaffold Startup.cs</li>
    </ul>
</div>