@inherits LayoutComponentBase

<div class="main">
    <PageNotifications @ref="@PageNotificationsComponent"></PageNotifications>
    <CascadingValue Value="@GetPageNotificationsComponent" IsFixed="true">
        <div class="content">
            @Body
        </div>
    </CascadingValue>
</div>
